body{
    margin: 10px;
}

html {
    scroll-behavior: smooth;
}

.feedFormReact {
    padding: 4px
}

.feedFormReact img{
    max-height: 500px !important;
    max-width: 500px !important;
}

.renderHTML img{
    max-height: 500px;
    width: 100%;
    border-radius: 10px;
}


.removeScrollBar::-webkit-scrollbar {
  display: none;
}

.removeScrollBar {
  -ms-overflow-style: none;  
  scrollbar-width: none;
}

.spinnerContainer {
    display:"flex";
    margin-top: 10px;
    margin-bottom: 10px;
}

.spinner{
    background: teal;
}

@keyframes animateUp {
  from {top: -30px;}
  to {top: -50px;}
}

.copyAnimation {
    font-size: 12px;
    position: absolute;
    animation: animateUp 1s; 
}

